@import "tailwindcss";

@theme {
  --color-primary: #4169e1;   /* Azul Royal */
  --color-secondary: #87F0CB; /* Cinza Claro (fundo clean) */
  --color-tertiary: #121212; /* Preto Suave com fundo elegante */
  --color-highlight: #fdcb6e; /* Dourado Claro (destaques opcionais) */
}

* {
  font-family: 'Inter', sans-serif;
}

